.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 768px) {
  .App-header {
    padding: 10px;
  }
}

/* Estilos para el main (sección principal) */
main {
  padding: 20px;
}

/* Estilos para pantallas más pequeñas en el main */
@media (max-width: 768px) {
  main {
    padding: 10px;
  }
}
